<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About me</h2>
                <hr class="light">
                <p class="text-faded">I am a final year undergraduate student, pursuing Computer Science and Engineering at <a href="https://iiit.ac.in" style="color:white;">IIIT Hyderabad</a>. I am involved in undergraduate research at <a href="http://robotics.iiit.ac.in" style="color:white;">Robotics Research Centre</a>, under the guidance of <a href="https://scholar.google.co.in/citations?user=QDuPGHwAAAAJ" style="color:white;">Dr. K. Madhava Krishna</a>.</p>
                <p class="text-faded">My areas of interest are Humanoid robots, Convolutional Neural Networks, and Computer Vision. I spent two months in Summer 2016 at <a href="http://robotics.usc.edu/resl" style="color:white;">Robotics Embedded Systems Laboratory</a> in University of Southern California, under <a href="https://scholar.google.co.in/citations?user=lRUi-A8AAAAJ" style="color:white;">Dr. Gaurav S. Sukhatme</a>.</p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Check out my Projects</a>
            </div>
        </div>
    </div>
</section>
