<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About me</h2>
                <hr class="light">
                <p class="text-faded">I am a final year undergraduate student, pursuing Computer Science and Engineering at <a href="https://iiit.ac.in" style="color:white;">IIIT Hyderabad</a>. I am involved in undergraduate research at <a href="http://robotics.iiit.ac.in" style="color:white;">Robotics Research Centre</a>, under the guidance of <a href="https://scholar.google.co.in/citations?user=QDuPGHwAAAAJ" style="color:white;">Dr. K. Madhava Krishna</a>.</p>
                <p class="text-faded">My areas of interest are Humanoid robots, Convolutional Neural Networks, and Computer Vision. I spent two months in Summer 2016 at <a href="http://robotics.usc.edu/resl" style="color:white;">Robotics Embedded Systems Laboratory</a> in University of Southern California, under <a href="https://scholar.google.co.in/citations?user=lRUi-A8AAAAJ" style="color:white;">Dr. Gaurav S. Sukhatme</a>.</p>
                <p class="text-faded">I also conduct weekly tutorials and curate assignments, as a Teaching Assistant at IIIT Hyderabad, for core freshman courses like Computer Programming. In previous semesters, I have been a TA for Digital Logic and Processors, and Computer Systems Organization courses as well.</p>
                <p class="text-faded">I have been elected as a Member of Students' Parliament, for two years in a row now. This year, I serve as the Speaker of the Parliament. I am also an active participant in cultural activities on campus including dance performances, and plays.</p>
                <p class="text-faded">Apart from academics, watching movies, and TV shows serves as great source of relaxation. I also write poems and like to dance, when I am overwhelmed, to pour my heart out.</p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Check out my Projects</a>
            </div>
        </div>
    </div>
</section>
