<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-4">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/PR2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Robotics
                            </div>
                            <div class="project-name">
                                Exploring CNN based feature transfer for Robot Affordances
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-4">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/TA.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Experience
                            </div>
                            <div class="project-name">
                                Teaching Assistant
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-4">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/DynamicSegmentation.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Robotics
                            </div>
                            <div class="project-name">
                                Dynamic Semantic Motion Segmentation 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-4">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/ICPC.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Experience
                            </div>
                            <div class="project-name">
                                ACM - ICPC
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-4">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/SMAI.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Machine Learning
                            </div>
                            <div class="project-name">
                                Analyzing Facial Features for Recommendation
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-4">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/Dance.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Interests
                            </div>
                            <div class="project-name">
                                Dance Performances
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-4">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/CV.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Computer Vision
                            </div>
                            <div class="project-name">
                                Image Mosaicing and Metric Rectification
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-4">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/ML.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Machine Learning
                            </div>
                            <div class="project-name">
                                Analysis of Deep Learning Neural Networks 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-4">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/MR.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Robotics
                            </div>
                            <div class="project-name">
                                Obstacle Detection and Avoidance
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
